
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
}

h1 {
    color: goldenrod;
    font-size: 70px;
    margin-top: 10%;
    font-family: Copperplate;
    text-shadow: 2px 2px black;
}


button {
    color: black;
    width: 300px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 2px;
    box-shadow: 2px 2px 8px black;
    
}
button:active {
    background-color: #3e8e41;
    box-shadow: 2px 2px 4px black;
    transform: translateY(8px);
}


#hit-btn {
    background-color: rgb(177, 92, 92);
}

#stand-btn {
    background-color: rgb(96, 96, 176);
}

div { 
    float: left;
    border-radius: 10px;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px black;
    padding-left: 5px;
}
